# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

.Serverless

# ignore .env files

*.env




